[submodule "P3_Localization/P3_Localization/src/pgm_map_creator"]
	path = P3_Localization/P3_Localization/src/pgm_map_creator
	url = https://github.com/udacity/pgm_map_creator
[submodule "P4_Mapping/src/teleop_twist_keyboard"]
	path = P4_Mapping/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
